{% extends "bootstrap/base.html" %}

{% block title %}
Profile
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="{{url_for('static',filename='logo.png')}}" width="50" height="40" style="float: left; vertical-align: left; margin-top: 5px; padding-right: 5px;"> <a class="navbar-brand" href="#">Heart Analyzer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('dashboard') }}">Analyzer</a></li>
            <li class="active"><a href="{{ url_for('update') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
         
        </div>
      </div>
    </nav>
    {% if id == current_user.id %}
    <div class="shadow p-3 mb-5 bg-body rounded">
      <form action="/update/{{ name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}
    
        {{ form.username.label(class="form-label") }}
    
        {{ form.username(class="form-control", value=name_to_update.username) }}
        <br/>
    
        {{ form.email.label(class="form-label") }}
    
        {{ form.email(class="form-control", value=name_to_update.email) }}
        <br/>
    
        {{ form.password.label(class="form-label") }}
    
        {{ form.email(class="form-control", value=name_to_update.password) }}
        <br/>
        
        {{ form.submit(class="btn btn-secondary") }}
      </form>
    </div>
    <br/><br/><br/>
    
    {% endif %}
{% endblock %}